:root {
  --color-primary: #c69963;
  --color-primary-dark: #B28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483A;
  --color-grey-dark-2: #6D5D4B;

  // FONT VARIABLES
  --font-primary: 'Nunito', sans-serif;
  --font-display: 'Josefin Sans', sans-serif;

  --box-shadow: 0 2rem 5rem rgba(0,0,0, .3);

  //RESPONSIVE BREAKPOINTS
  /*
      example 1200(determined size) / 16 (default px) = 75em

      75em      = 1200px
      62.5em    = 1000px
      56.25em   = 900px
      37.5em    = 600px
  */


}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% -> 1rem == 10px

  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
;}
